<div class="page-header">
    <h1>Demo Data</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <input type="button" class="btn btn-default" value="{{getButtonText()}}" (click)="onClick()" />
    </div>
</div>

<div *ngIf="isComplete" class="panel panel-info">
    <div class="panel-body bg-info">
        <p class="text-info">Demo data ready.</p>
    </div>
</div>

<div *ngIf="hasError" class="panel panel-danger">
    <div class="panel-body bg-danger">
        <p class="text-danger">Error while adding or reseting demo data.</p>
    </div>
</div>