<div class="page-header">
    <h1>User Search</h1>
</div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter name or part of name..."
           (keyup)="onChange(searchText.value)"
            #searchText (keyup.enter)="onSearch(searchText.value)">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="onSearch(searchText.value)" 
                [disabled]="!isValid">Search</button>
    </span>
</div>

<h2>Users Found</h2>

<div *ngIf="isSearching">
    <img src="/images/ajax-loader.gif" class="center-block" />
</div>

<div *ngIf="!isSearching && hasSearched && usersFound.length === 0" class="panel panel-warning">
    <div class="panel-body bg-warning">
        <p class="text-warning">No results found</p>
    </div>
</div>

<div *ngIf="!isSearching && !hasSearched && usersFound.length === 0" class="panel panel-info">
    <div class="panel-body bg-info">
        <p class="text-info">Enter a search.</p>
    </div>
</div>

<div *ngIf="hasError" class="panel panel-danger">
    <div class="panel-body bg-danger">
        <p class="text-danger">Error while retrieving search results.</p>
    </div>
</div>

<div class="list-group" *ngIf="!isSearching && usersFound.length > 0">
    <div class="list-group-item" *ngFor="let user of usersFound">
        <h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}} ({{user.age}} years old)</h4>
        <div class="list-group-item-text">
            <div class="row">
                <div class="col-xs-3">
                    <img src="http://images6.fanpop.com/image/photos/32600000/Johnny-Depp-johnny-depp-32658900-2900-4224.jpg" height="60" width="60" />
                </div>
                <div class="col-xs-9">
                    <address *ngFor="let address of user.addresses">
                        {{address.lineOne}}<br />
                        {{address.city}} {{address.adminArea}} {{address.postalCode}}
                    </address>
                    <label>Interests</label>
                    <ul>
                        <li *ngFor="let interest of user.interests">{{interest.description}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
